body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.icon{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222 !important;
}

footer{
    height: 8rem;
    background-color: #ebebeb;
    width: 100%;
}

.f-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.f-info-links a{
    text-decoration: none;
    color: #000;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.f-info-socials,.f-info-brands,.f-info-links{
    justify-content: center;
    align-items: center;
}

.f-info-brands,.f-info-links,.f-info-socials{
    width: 100%;
    text-align: center;
    vertical-align: center;
    margin-bottom: 9px;
    margin-top: 9px;
    display: flex;
   
}

.listing-card{
    border: none !important;
    margin-bottom: 1rem;
}

.card-img-top{
    border-radius: 1rem !important;
}

.card-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-text{
    color: #000;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn,.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.show-img{
    height: 20rem;
}

.card-body{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Map */
#map{
    height: 400px;
    width: 90vh; 
}